.evaluation-chooser {
    position: relative;

    .text {
        display: flex;
    }
    .bold {
        min-width: 200px;
        font-size: 13px;
        line-height: 30px;
    }
    display: flex;
    gap: 20px;
    align-items: center;
    
    
    .info {
        border: 1px solid black;
        width: 20px;
        height: 20px;
        text-align: center;
        display: block;
        line-height: 20px;
        font-size: 10px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
        }
    }
}

.evaluation-chooser {
    .evaluation-param {
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.516);
        }
    }

    .selected {
        background: white;
    }
}