.input {
    position: relative;
    border: 1px solid black;
    padding: 7px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;

    input {
        width: 100%;
        font-family: 'Monda', sans-serif;
        box-sizing: border-box;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .info {
        border: 1px solid black;
        width: 20px;
        height: 20px;
        text-align: center;
        display: block;
        line-height: 20px;
        font-size: 10px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
        }
    }

    
}

.error {
    border: 1.5px solid red;
    input {
        &::placeholder {
            color: red;
        }
    }
}

