.nothing-to-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Monda', sans-serif;
    p {
        font-family: 'Monda', sans-serif;
        font-size: 20px;
    }
    img {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        filter: grayscale(100%);
    }

    button {
        margin: 0 auto;
    }
}