.max-min-checkbox {
    position: relative;
    display: flex;

    .max-min-label {
        display: flex;
        font-size: 12px;
        gap: 10px;
        align-items: center;
    }

    .info {
        border: 1px solid black;
        width: 20px;
        height: 20px;

        text-align: center;
        line-height: 20px;
        font-size: 10px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
        }
    }
}