.input-hint {
    // background: rgb(235, 233, 233);
    // border: 1px solid black;
    position: absolute;
    width: 40%;
    min-width: 300px;
    height: fit-content;
    top: 0px;
    right: 0px;
    z-index: 100;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
    padding: 10px;
    box-shadow: 1px 1px 10px 5px rgb(228, 228, 228);
    animation: slideIn 0.3s ease-out;
    transform: translate(-30%, -50%);

    h1 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
}

@keyframes slideIn {
    0% {
        transform: translate(-10%, -50%);
        opacity: 0;
    }
    100% {
        transform: translate(-30%, -50%);
        opacity: 1;
    }
}