.Param {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    width: 550px;
    justify-content: space-between;
    .text {
        display: flex;
        gap: 20px;
        cursor: pointer;
    }

    .bold {
        min-width: 200px;
        font-size: 13px;
        line-height: 30px;
        white-space: nowrap;
    }



    .info {
        border: 1px solid black;
        width: 20px;
        height: 20px;
        text-align: center;
        display: block;
        line-height: 20px;
        font-size: 10px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
        }
    }

    .param-input {
        width: 175px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 10px 10px;
        font-size: 13px;
        outline: none;
        box-sizing: border-box;
    }
}