.input-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header-text {
        font-size: 12px;
        // font-weight: 600;
        color: #000;
        border-bottom: 1px solid black;
        width: fit-content;
        margin: 0 auto;
        padding: 0 10px;
    }

    .input-container {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            width: 1000px;
            // background:  red;

        }

        .player-input-row {
            // display: grid;
            // width: 1000px;
            // // gap: ;
            // background: red;
            // grid-template-columns: 60% 30%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            width: 1000px;
            // justify-content: space-between;
        }
    }
    

}

