
.playerNum{
    font-size: 15px;
    color: #000;
    width: fit-content;
    margin-right: auto ;
    margin-left: auto;
    margin-top: 50px; ;
    padding: 0 10px;
    display: block;
}

// .divcon{
//     margin-left: 100px;
//     margin-right: 100px;
//     margin-top: 20px;
//     background-color: aquamarine;
//     padding: 10px;
//     border-radius: 20px;
// }

::-webkit-scrollbar{
    width: 10px;
    
}
::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 10px;
}
.input-processing-page label{
    cursor: pointer;
}
.inputs{
   display: none;
}

[id^=btn]:checked + .menubar{
    display:block;
}
.menubar ul li{
    size: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 20px;
    // display:none; 
}
.contend{
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(203, 222, 229);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px ;
}
.name1{
display: inline;
margin: 20px;
margin-top: 100px;
}
.scrollBar{
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 50px;
    height: 300px;
    overflow-y: scroll;
}

