

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
}

.input-processing-page label {
    cursor: pointer;
}

.inputs {
    display: none;
}



.Player {
    display: block;
   
    background-color: rgb(243, 243, 243);
    margin-top: 10px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    p {
        margin: 0;
    }

    &:hover {
        background-color: rgb(222, 222, 222);

    }

    .strategy-name {
        size: 50px;
        list-style: none;
        margin: 20px;
        background-color: rgb(236, 236, 236);
        padding: 10px;
        border-radius: 10px;
        // display:none; 
    }

}
.show-more {
    background-color: rgb(222, 222, 222);

    .strategy-name {
    
        background-color: rgb(255, 255, 255);
   
    }
}
.info {
    display: flex;
    justify-content:stretch;
    gap: 20px;
    padding: 5px;

   

    .name {
        min-width: 200px;
    }
}

.scrollBar {
    background-color: white;
    width: 700px;
    margin: auto;
    padding-bottom: 50px;
    height: 300px;
    overflow-y: scroll;
}

@media screen and (max-width: 400px) {
    .scrollBar {
        width: 300px;
    }
}