.grid-item-container{
    display: grid;
    grid-template-columns: 1fr 6fr 8fr 2fr; /* The first column is half the width of the others */
    background-color: #E9E7E7;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    padding: 0 20px;

    .player-name {
        font-weight: 700;
        color: #000;
    }
}