.grid-item-container{
    display: grid;
    grid-template-columns: 10% 30% 30% 30%; /* The first column is half the width of the others */
    background-color: #E9E7E7;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    padding: 0 20px;
    max-width: 1200px;

    .column {
        text-align: left;
    }
    .player-name {
        font-weight: 700;
        color: #000;
    }
}