.special-player-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // width: fit-content  ;
    margin: 0;
    width: fit-content;
    height: fit-content;

    transition: all 1s ease-in-out;

    .special-player-label {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;
    }

    .input {
        width: 470px;
    }


    .input-hidden {
        height: 0;
        opacity: 0;
        transition: height 1s ease-out, opacity 1s ease-out;
    }
}

.showing {
    // background: red;
    // transition: all 0.5s ease-out;
    animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hiding {
    animation: slideUp 0.5s ease-out;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%);
        opacity: 0;
    }
}   

.hidden {
    display: none;
}