@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

:root {
    --blacK: black;
    --white: white;
    --grey: #dcdcdc;
    --hover: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif;
    transition: all 0.1s ease-in-out;

}

.App {
    padding-bottom: 20px;
    // width: 100%;
    // padding: 0 20px;
}

.btn {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: var(--grey);
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;

    
    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    &:hover {
        background: black;
        color: white;
    }
}

.bold {
    font-weight: bold;
}